<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>

    <authentication mode = "Forms" >
      <forms loginUrl = "~/Login/Index" timeout = "2880"/> 
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings><add name="InsuranceClaimReqEntities" connectionString="metadata=res://*/Models.InsuranceClaimRequest.csdl|res://*/Models.InsuranceClaimRequest.ssdl|res://*/Models.InsuranceClaimRequest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MITMAA002\SQlEXPRESS;initial catalog=Insurance;user id=sa;password=password@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="InsuranceClaimEntites" connectionString="metadata=res://*/Models.InsuranceClaim.csdl|res://*/Models.InsuranceClaim.ssdl|res://*/Models.InsuranceClaim.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MITMAA002\SQlEXPRESS;initial catalog=Insurance;user id=sa;password=password@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>