<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href="~/Content/Claims.css" rel="stylesheet" /> 
    <script src="~/Scripts/Claims.js"></script> 
</head>

@using (Html.BeginForm("Addclaims", "Claims", FormMethod.Post))
{ 
    <div style="text-align: right; width:100%">
        <table style="text-align: right; width:98%"><tr>
            <td style="text-align: right;">
            <input type="submit" id="Addclaims" value="Add Claims" class="btn btn-info" />
            </td></tr>
        </table>        
    </div>
    <br/>
}

<div class="panel panel-primary">
        @Html.Partial("ClaimHeaderPartial")
</div>
    
         
   
       
          
   
